:root {
  --primary: #90ff90;
}
*{
    box-sizing:
    border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    align-content: center;
    background-image: linear-gradient(rgb(248, 151, 41), rgb(211, 209, 84));
    min-height: 100vh;
}

/* Section one- ABout us */
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vw;
    margin: 30px auto;
}
#img1{
    background: url("/images/eco.jpj.jpg") center/cover no-repeat;
}
.content{
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.content span{
    height: 80px;
    padding-top: 20px;
    text-align: center;
}
.content p{
    padding-bottom: 15px;
    font-weight: 300;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
}
.links{
    margin: 15px 0;
}
.links li{
    list-style-type: none;
    border-radius: 5px;
    padding: 10px 1px;
    margin: 3px;
    width: 160px;
    text-align: center;
}
.links li a{
    text-transform: uppercase;
    color: rgb(10, 15, 1);
    text-decoration: none;
}
.links li:hover{
    border-color: rgb(71, 71, 62);
}
.links li:hover a{
    color: rgb(179, 83, 6)
}   

/* Our concern */
.content-c{
    background: rgb(245, 244, 244);
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    height:700px 700px;
    
    align-items: center;
}
.content-c h1{
    font-size: 36px;
    font-weight: 500;
    height: 100px;
    color: #000;
    text-align: center;
}
.content-c p{
    font-weight: 300;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
}

/* services */
.content-s{
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* transform: translate(-50%, -50%); */
}
.content-s h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.content-s span{
    height: 90px;
    padding-top: 40px;
    text-align: center;
    width: 90%;
}
.content-s p{
    font-weight: 300;
    width: 90%;
    line-height: 1.7;
}
#img3{
    background: url("/images/poll2.jpg") center/cover no-repeat;  
}

/* Pictures grid */
.row{
    margin: 70px;
    display: flex;
}
.column {
    background-color: rgb(236, 235, 235);
   
}
.column img {
    height: 143px;
    margin: auto ;
    display: block;
}   

/* Loop-holes */
.content-l{
    background: whitesmoke;
    text-align: center;
    margin: 24px;
    display: flex;
    flex-direction: column;
    padding: 35px;
    height:100px;
    align-items: center;
}
.content-l h1{
    font-size: 36px;
    font-weight: 500;
    height: 100px;
    color: #000;
    text-align: center;
}

.content-p {
    position: relative;
    width: 50%;
    /* color: white; */
  }

  #center {
    text-align: center;
    font-weight: 1000;
    font-size: xx-large;
    position: absolute;
    top: 50%;
    background-color: rgb(240, 233, 175);
    opacity: 0.7;
    color: rgb(14, 13, 13);
    left: 100%;
    transform: translate(-50%, -50%);
  }  
  
.image {
    display: block;
    width: 190%;
    height: 100%;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f6f8aa;
  }
  .hide {
    display: none;
    color: rgb(7, 7, 7);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 100%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .overlay:hover + .hide{
      display: block;
  }
  
  .content-p:hover .overlay {
    opacity: 0.9;
  }

  /* Team */

  /* .header {
    text-align: center;
    margin: auto;
    max-width: 50vh;
    padding-block: 48px;
    margin-bottom: 48px;
    border-bottom: 2px dashed var(--primary);
    color: var(--primary);
    font-size: 32px;
    letter-spacing: 4px;
} */

.content-t {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.team {
    width: 240px;
    height: 480px;
    overflow: hidden;
    margin: 8px;
    border: 2px solid var(--primary);
    border-radius: 16px;
    position: relative;
    background-color: #ffffff34;
}

.team::before {
    content: '';
    background-image: var(--img);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    filter: blur(4px) grayscale(100%);
}

.team img {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 480px;
    border-radius: 16px;
    z-index: 3;
    object-fit: cover;
    border: none;
}

.team:hover img {
    width: 160px;
    height: 200px;
    border: 2px solid var(--primary);
    left: 40px;
    top: 60px;
}

.team .info {
    background-color: white;
    position: absolute;
    /* top: 0px; */
    bottom: 0px;
    left: 0;
    right: 0;
    z-index: 2;
    color: #363636;
    padding: 16px;
    border-top: 8px solid var(--primary);
    border-radius: 50% 50% 0px 0px;
    padding-top: 80px;
    text-align: center;
    transform: scale(2)
}

.team .name {
    font-size: 24px;
    padding: 16px;
    text-transform: capitalize;
}

.team .title {
    color: grey;
    text-transform: capitalize;
}

.team:hover .info {
    transform: scale(1)
}

.team .social {
    padding-block: 16px;
    font-size: 24px;
}

.team .social i {
    display: inline-block;
    width: 48px;
    padding: 12px;
    background-color: #8f1a1a;
    border-radius: 16px;
    margin: 4px;
    cursor: pointer;
}

.team .social i:hover {
    color: var(--primary);
    background-color: #363636;

}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}